.order__summary-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #1c1c21;
  border-radius: 40px;
  composes: p-6 from global;
}

.order__summary-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order__summary-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
}

.order__summary-number {
  composes: text text_type_digits-default from global;
}

.order__summary-date {
  composes: text text_type_main-default text_color_inactive from global;
}

.order__summary-name {
  composes: text text_type_main-medium from global;
}

.order__summary-status {
  composes: text text_type_main-dafault from global;
}

.order__summary-status_done {
  color: #00cccc;
}

.order__summary-price {
  composes: text text_type_digits-default mr-2 from global;
}

.order__summary-picture-box {
  display: block;
  box-sizing: border-box;
  border: #801ab2 2px solid;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.order__summary-picture-label {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: baseline;
  line-height: 64px;
  composes: text text_type_main-default from global;
}

.order__summary-picture {
  background-color: #000000;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
