.section {
  composes: pt-25 pl-4 from global;
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.summary {
  composes: mt-10 pr-4 from global;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.summary__order-button {
  composes: ml-10 from global;
  flex-basis: 215px;
  width: 100%;
}
