.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
  padding: 40px 0;
  box-sizing: border-box;
}

.main {
  margin: auto;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  overflow-y: hidden;
  composes: mt-10 from global;
}

.warning {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.order {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: hidden;
}
