.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.card__link {
  text-decoration: none;
  color: unset;
}

.label {
  composes: text text_type_main-default from global;
  min-height: 48px;
  text-align: center;
}
