.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.price__box {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.price {
  composes: text text_type_digits-default from global;
}

.label {
  composes: text text_type_main-default from global;
  min-height: 48px;
  text-align: center;
}
