.modal {
  composes: p-10 from global;
  position: fixed;
  margin: auto;
  box-sizing: border-box;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c1c21;
  border-radius: 40px;
  max-width: 720px;
  width: 80%;
}

.modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
}
