.nutrition__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  list-style-type: none;
}

.nutrition__item-label {
  composes: text text_type_main-small text_color_inactive from global;
}

.nutrition__item-value {
  composes: text text_type_digits-default text_color_inactive from global;
}
