.header {
  box-sizing: border-box;
  display: grid;
  max-width: 1240px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #1c1c21;
}

.group {
  display: flex;
  gap: 8px;
  justify-self: stretch;
}
